extends ../layouts/application.pug

block header
  = t('layouts.headers.signUp')

block content
  +formCard('avatar.jpg')
    +formFor()(action=route('users') method='post')
      +input(user, 'firstName', errors)(type='text')
      +input(user, 'lastName', errors)(type='text')
      +input(user, 'email', errors)(type='text')
      +input(user, 'password', errors)(type='password')
      +submit(user)(value=t('layouts.buttons.save'))
