extends ../layouts/application.pug

block header
  = t('layouts.headers.tasks')

block content 
  a.btn.btn-primary(href= route('newTask'))= t('layouts.buttons.createTask')
  - cols = ['id', 'name', 'status', 'creator', 'executor', 'createdAt']
  +table('task', cols, tasks)
