extends ../layouts/application.pug

block header
  = t('layouts.headers.signIn')

block content
  +formCard('avatar.jpg')
    +formFor()(action=route('session') method='post')
      +input(signInForm, 'email', errors)(type="text")
      +input(signInForm, 'password')(type="password")
      +submit(signInForm)(value=t('layouts.buttons.login'))
